/*All Pages */
.pageContent a {color: #4A97E1; font-weight:300}
.pageContent a:hover {text-decoration:underline}
table.tableListContent tr td:first-child a {font-weight:bold;}
.fa-external-link-alt{vertical-align:middle;}
figure {
     max-width: 100%;
     padding: 0;
     margin: 0;
     color: gray;
     font-size: smaller;
     line-height: normal;
}
figure figcaption {
     margin-top:5px;
}
figure.alignright, 
.grid .rowItem img.alignright  {
     float: right;
    margin: 10px 20px;
}
figure.alignleft, 
.grid .rowItem img.alignleft {
     float: left;
     margin: 10px 20px;
}
.width-80{width:80%;}
.width-70{width:70%;}
.width-60{width:60%;}
.width-50{width:50%;}
.width-40{width:40%;}
.width-30{width:30%;}
.width-25{width:25%;}
.width-20{width:20%;}
figure img {width:100%}
@media only screen and (max-width: 425px){
    figure.alignright.mobile-100, 
    .grid .rowItem img.alignright.mobile-100  {
        float: none;
        margin: 10px 0px;
        width: 100% !important;
    }
    figure.alignleft.mobile-100, 
    .grid .rowItem img.alignleft.mobile-100 {
        float: none;
        margin: 10px 0px;
        width: 100% !important;
    }
}
#top_marsBanner {
    background: #656c74;
}
.homepage #top_marsBanner,
#top_marsBanner.page-Homepage {
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
    /* IE6-9 */
background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.65) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}
.is-sticky #top_marsBanner {
    background: #656c74;
}
.more-scroll {
    display: table; width: 100%; text-align: center; font-size: 0.8em; opacity: 1; background-color: #358cd3; padding: 5px 0; position: relative;height:36px;
}
.more-scroll a {
    display:table-cell;vertical-align:middle;cursor:pointer;color: white;
}
.pageContent h1.subtitle, .pageContent h2.subtitle{font-size:2.3em;}
.pageContent h3.subtitle{font-size:2em;}
.btnDownload {
    background-color: #358cd3;
}
#footer {
    background: url(/layout/mars2020/images/PIA19912.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

/* Homepage Dashboard*/
#spacecraftInfo .spacecraft-icon {
    background-image: url(/imgs/icons/outline/mars2020.png)
}

#spacecraftInfo .countdown_clock .countdown_title {
    color: white;
}

.boxed-important {
    background-color:#ffc09e6b;
    padding: 20px;
    font-size:smaller;
    line-height:normal;
}
.sidebar-facts strong{
    display:block;
    margin-top:10px;
}
.launch-info h1{
    font-size: 1.8em;
    text-align:left;
}

.pageContent .launch-info h1:first-child:after { display:none; }
.launch-info .blog-title{padding-top:0;margin-top:0;}
                .pageContent #faq.section  h2.category {
                    margin: 0;
                    padding: 0;
                }

                #faq .list_QA h2.category {
                    display: none;
                }

                #faq .list_QA br {
                    display: none;
                }

                #faq a.topLink {
                    margin-top: 20px;
                    padding-top: 0;
                    display: initial;
                    padding: 5px;
                }

                #faq .ScrollUp {
                    text-align: right;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }

                #faq a.topLink:hover {
                    color: #e04514;
                    border-radius: 10px;
                }
.boxed.social-links .social-icon {margin:10px auto;}
.boxed.social-links .name, .boxed.social-links .image { vertical-align:middle; height:50px; display:table-cell; }
.boxed.social-links .image img { width: 50px !important; height:50px !important; }
.boxed.social-links .name { padding-left:15px; }
.boxed h2 {padding-top: 10px !important; padding-bottom: 10px !important; text-align:center;}
.youtubeFrame{margin:0 auto;text-align:center;max-width:800px} 

@media only screen and (max-width:600px) {.launch-table.paddedMedium { padding: 0 }}
table.mars_table{
    border-collapse:collapse;
    width:100%
}
table.mars_table td{
    background-color:transparent
}
table.mars_table th{
    background-color:white;
    color:black;
    font-size:.75em;
    font-weight:500;
    text-align:left;
    padding:13px
}
@media (min-width: 600px), print{
    table.mars_table th{
        font-size:.9rem
    }
}
table.mars_table tbody td{
    font-size:.9rem
}
/* @media (min-width: 600px), print{
    table.mars_table tbody td{
        font-size:1.1em
    }
} */
table.mars_table tr:nth-child(even){
    background-color:#edf4fb
}
table.mars_table tr:nth-child(odd){
    background-color:#ffffff
}
table.mars_table td{
    border:1px solid #d2d2d2;
    padding:.8em
}
table.mars_table td:first-child{
    border-left:transparent
}
table.mars_table td:last-child{
    border-right:transparent
}
table.small_table,table.mars_table.small_table{
    font-size:.75em;
    padding:.6em
}

@media only screen and (max-width: 885px)
{
    .youtubeFrame, .youtubeFrame #thisframe.outerdiv, .youtubeFrame iframe#thisframe {
        height:300px !important; min-height:300px !important;max-height:300px !important;
    }
}

@media screen and (max-width : 501px) {
    #spacecraftInfo .countdown_clock .countdown_title .larger {
        display: inline-block;
    }
    .boxed { font-size: 1em; }
    .boxed .grid .rowItem.small,
    .boxed .grid .rowItem.small:nth-of-type(1):nth-last-of-type(2) 
    	{width: 35% !important;display:inline-block !important; vertical-align:middle;}
    .boxed .grid .rowItem.large,
    .boxed .grid .rowItem.large:nth-of-type(2):nth-last-of-type(1)
    	{width: 60% !important;display:inline-block !important; vertical-align:middle;}
    
}


@media screen and (min-width: 1px) {
    .sliderContainer {
        width: calc(100% - 40px);
    }
}
@media screen and (min-width : 501px) {

    .sliderContainer { width: 415px; padding:0 40px;}
	#spacecraftInfo .countdown_clock{padding:10px; text-align:left;}
    #spacecraftInfo .info_item {
        width: 350px;
    }
    #spacecraftInfo .info_item.launch_info {
        width: 225px;
    }
}
@media screen and (min-width : 924px) {
    #spacecraftInfo {
        font-size: 18px;
    }
    #spacecraftInfo .info_item {
        width: auto;
    }
    .sliderContainer {
        /* width: 680px; */
        width: 865px;
        padding: 0 40px;
    }
}

@media screen and (min-width : 1224px) {
    #spacecraftInfo {
        font-size: 20px;
    }

    .sliderContainer {
        width: 965px;
        /* width:725px */
    }
}


@media only screen and (max-width: 501px) {
    #spacecraftInfo .countdown_clock .countdown_title {
        display: block;
    }
}

.relatedResources.small ul.horizontalImages {
    display: block;
}

#Mars2020-Rover-Science .relatedResources.small ul.horizontalImages li {
    display: inline-block;
    float: none;
}

#Mars2020-Rover-Science .relatedResources ul.horizontalImages.buttonCircle.height200 li,
#Mars2020-Rover-Science .relatedResources ul.horizontalImages.height200.buttonCircle li {
    clear: inherit;
}
@media only screen and (min-width: 601px){
  .factsTable .fact-title{
      white-space:inherit;
  }
}
/*** BANNER UPGRADE ***/
.bannerHome .smd_title {
    color: #87a2e1;
    font-size: 14px;
    font-family: Arial Narrow, Arial;
    font-weight: 400;
    padding: 0 2px;
    display: block;
    width:24%;
    margin-top:5px;
    z-index:1;
    position:relative;
    
    }
.bannerHome .smd_title img {
    width:100%;
}
.bannerHome .site_title {
    color: white;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0;
    margin-left: -2px;
    line-height: 0;
    letter-spacing:1px;
    
}
.bannerHome .subsite_title {
    line-height:normal;
    text-transform:uppercase;
    font-size:0.75em;
    margin-left: 2px;
    letter-spacing: 1px;
}
.bannerHome .subsite_title .txt2020 {
    font-size: 1.18em;
}
.bannerHome .subsite_title .txtRover {
}
.bannerHome .subsite_title .block {
    display:block;
}
.bannerHome .mission{
    line-height:normal;
}
.nasalogo img {
    float: left;
    margin-left: 0;
    margin-top: -3px;
    padding-bottom: 5px;
}


@media screen and (min-width: 1px) {
	.bannerHome .mission {
		margin-left: 0.5rem;
	}
	.bannerHome .smd_title {
		margin-top:0;
	}
}

@media screen and (min-width: 768px) {
	.bannerHome .mission, .bannerHome .nasalogo{
	    margin-top:2px;
	}
	.bannerHome .nasalogo {
	    width:auto;
	    margin-left: 0.7rem;
	}
	.nasalogo img {
	    width: 75px !important;
	}

	.bannerHome .smd_title {
		margin-top:2px;
	}
	.bannerHome .subsite_title, .bannerHome .site_title {
	    margin-top: 3px;
	    }
.bannerHome .subsite_title {
    line-height:1;
    }
	    
}


@media screen and (min-width: 1200px) {
	.nasalogo img {
	    width: 84px !important;
	    margin-left:0.2rem;
	}
	.bannerHome .smd_title {
		margin-top:5px;
	}
}

/* Timeline Overview */
@media only screen and (min-width: 800px) {
    .grid.parallelogram .rowItem .titleLabel {
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 840px) {
    .grid.parallelogram .rowItem .titleLabel {
        font-size: 0.9em;
    }
}
@media only screen and (min-width: 1100px) {
    .grid.parallelogram .rowItem .titleLabel {
        font-size: 1.0em;
    }
}
@media only screen and (min-width: 1200px) {
    .grid.parallelogram .rowItem .titleLabel {
        font-size: 1.2em;
    }
}
