/* Smartphone/Mobile Devices */
@charset "utf-8";

/* home/trending-on-mars.css */
.trendingOnMars { margin:5px auto 0 auto; } 
.featureTitles { clear:both;   display: block;  padding: 50px 25px; margin-top:auto; }

/* content-subnav.css */
.nasaHref img { height: 45px; }
/*#topSubNavInner { margin: -95px 0 0 75px; }*/
#navMarsMenu, #navMarsHome { width:40px; height:40px; /*top: -8px;*/ top: 12px;}

/* sitenav.css */
/*.jplLinksBG { margin: 5px 0 0 55px; width: 50%; width: -moz-calc(100% - 200px);width: -webkit-calc(100% - 200px);width: -o-calc(100% - 200px);width:calc(100% - 200px); background-position-y: 5px;}*/
.jplLinksBG { /*margin: 35px 20px 0 55px;*/margin: 40px 20px 0 55px; /*width: 50%;*/ /*width: -moz-calc(100% - 55px);width: -webkit-calc(100% - 55px);width: -o-calc(100% - 55px);width:calc(100% - 55px);*/ width: -moz-calc(100% - 120px);width: -webkit-calc(100% - 120px);width: -o-calc(100% - 120px);width:calc(100% - 120px); background-position:top center !important; /*background-position-y: 5px;*/}
#jplLinksText { display:none;}
/*#navMarsSearch input.searchBox{display:none;}*/
#navMarsSearch input.searchButton{width: 40px; height: 40px; margin-top: -8px;}
#navMars{z-index:101}
.navBackSplashSide{display:none;}
.top_jplBannerInner,#top_jplBanner-sticky-wrapper, #top_jplBanner,#top_jplBanner-sticky-wrapper.is-sticky #top_jplBanner .top_jplBannerInner{min-height:150px;}
.top_jplBannerInner,#top_jplBanner-sticky-wrapper, #top_jplBanner,#top_jplBanner-sticky-wrapper.is-sticky #top_jplBanner .top_jplBannerInner{height:auto;}

/* Mars 2020 */
.navTopBannerMars2020 #topSubNavInner{ margin: -40px auto 0 10px;}
.navTopBannerMars2020 .topSubNavInnerInner{ width: -moz-calc(100% - 45px);width: -webkit-calc(100% - 45px);width: -o-calc(100% - 45px);width:calc(100% - 45px);}
.navTopBannerMars2020 .jplLinksBG{ margin-left:0;}
@media only screen and (max-width: 500px){
.navTopBannerMars2020 .jplLinksBG{background-size:95%;}
.navTopBannerMars .jplLinksBG{background-size:95%; background-position-y:15px;}
}

/* section.css */
.section { height:auto;}
.sectionInner { min-height:0;}
.sectionInner a.arrowNextSection, .sectionInner a.arrowPrevSection{ margin-bottom: -20px; }

/*Display None for Desktop, show hidden Mobile divs*/
.mobileOnly{display:inherit;}
.desktopOnly, .grid .rowItem.desktopOnly{display:none !important;}